# Prep

In [18]:
import numpy as np
import pandas as pd

from utils.utils import get_info

In [30]:
df_a = pd.read_csv('../../fase2/apostas/data/apostas_info.csv', index_col=0)
df_p = pd.read_csv('../../fase2/apostas/data/poker_info.csv', index_col=0)

In [31]:
df = pd.concat([df_a, df_p], ignore_index=True)
df.head()

,company_name,brazilian_visitors,hq_country,bounce_rate,visit_duration,male,female,18-24,25-34,35-44,45-54,55-64,65+
0,mansion.com,-1,Gibraltar,0.828,0.0,0.640,0.360,0.223,0.295,0.193,0.135,0.093,0.061
1,worldsportsbetting.co.za,-1,South Africa,0.262,16.0,0.665,0.335,0.239,0.333,0.201,0.117,0.063,0.048
2,merrybet.com,-1,Nigeria,0.165,12.0,0.728,0.272,0.164,0.343,0.220,0.138,0.085,0.049
3,sunbet.co.za,2932,South Africa,0.445,11.0,0.563,0.437,0.174,0.295,0.191,0.149,0.103,0.088
4,queenvegas.com,-1,Malta,0.120,3.0,0.567,0.433,0.153,0.305,0.202,0.160,0.111,0.070

In [33]:
df = df.drop_duplicates()
df_brazil = df[df.brazilian_visitors != -1]
df_brazil.shape

(41, 13)

In [34]:
spbet = get_info('sportingbet.com')
spbet

,company_name,brazilian_visitors,hq_country,bounce_rate,visit_duration,male,female,18-24,25-34,35-44,45-54,55-64,65+
0,sportingbet.com,7360080,United Kingdom,0.279,16,0.605,0.395,0.209,0.317,0.204,0.133,0.094,0.043

In [35]:
df_brazil = pd.concat([df_brazil, spbet, new], ignore_index=True)

In [38]:
df_brazil.to_csv('../../fase2/apostas/data/empresas_br.csv')

In [39]:
df_brazil = df_brazil.drop_duplicates().dropna()

In [42]:
df_brazil.hq_country = df_brazil.hq_country.replace('- -', 'No info')

In [45]:
df_foreign = df_brazil[df_brazil.hq_country != 'Brazil']
df_foreign.shape

(50, 13)